.login-page {
  height: 100%;
}
.login-column {
  max-width: 450px;
  margin: 20px;
}

.menu-spacer {
  padding-top: 50px;
}

#profile-table {
  width: 100%;
}

.fullpage {
  width: 100%;
  height: calc(100% - 50px);;
  border: none;
  seamless='seamless';
}

.padded {
  margin: auto;
  padding: 30px;
}
