.secondary.pointing.menu .toc.item {
  display: none;
}

@media only screen and (max-width: 950px) {
  .secondary.pointing.menu .item,

  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
}