@import forms.CoinAddForm
@import models.coin.WorkEntry
@import forms.common.SemanticForms._
@(user: models.User, coinAddForm: Form[forms.CoinAddForm.Data], submitText: String, action: play.api.mvc.Call)(implicit request: RequestHeader, messages: Messages)


@helper.form(action = action, 'class -> "ui form" ) {
    <div class="two fields">
        @helper.select(
            field = coinAddForm("kind"),
            options = CoinAddForm.kindValues,
            'class -> "ui dropdown",
            '_label -> Messages("coin.label.kind"),
            '_default -> Messages("coin.select")
        )
        @helper.select(
            field = coinAddForm("area"),
            options = CoinAddForm.areaValues,
            'class -> "ui search dropdown",
            'onChange -> "hello()",
            '_label -> Messages("coin.label.area"),
            '_default -> Messages("coin.select")
        )
    </div>
    <div class="three fields">
        @helper.select(
            field = coinAddForm("time"),
            options = CoinAddForm.timeValues,
            'class -> "ui dropdown",
            '_label -> Messages("coin.label.time"),
            '_default -> Messages("coin.select")
        )
        @helper.select(
            field = coinAddForm("coin"),
            options = CoinAddForm.coinValues,
            'class -> "ui dropdown",
            '_label -> Messages("coin.label.coin"),
            '_default -> Messages("coin.select")
        )
        @helper.input(coinAddForm("date"), '_label -> Messages("coin.label.date"), 'placeholder -> Messages("coin.select")) { (id, name, value, args) =>
            <div class="ui calendar left icon input" id="datePicker">
                <i class="calendar icon"></i>
                <input type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
            </div>
        }
    </div>
    @helper.inputText(coinAddForm("description"), '_label -> Messages("coin.label.desc"), 'placeholder -> "Klo putzen etc.")

    <button id="submit" type="submit" value="submit" class="ui icon button">
        <i class="plus icon"></i>
        @Messages(submitText)
    </button>
}

<script>
    $('.ui.dropdown').dropdown({fullTextSearch: true});

    $('#datePicker').calendar({
      type: 'date',
      monthFirst: false,
      popupOptions: {
          position: 'bottom center',
          lastResort: 'bottom center',
          prefer: 'opposite',
          hideOnScroll: false
        },
      formatter: {
        date: function (date, settings) {
          if (!date) return '';
          var day = ("0" + date.getDate()).slice(-2);
          var month = ("0" + (date.getMonth() + 1)).slice(-2);
          var year = date.getFullYear();
          return day + '.' + month + '.' + year;
        }
      }
    });
</script>