@import forms.CoinAddForm
@import forms.common.SemanticForms._
@(user: models.User, coinAddForm: Form[forms.CoinAddForm.Data])(implicit request: RequestHeader, messages: Messages)


@helper.form(action = routes.CoinController.add(), 'class -> "ui form" ) {
    <div class="two fields">
        @helper.select(
            field = coinAddForm("area"),
            options = CoinAddForm.areaValues,
            'class -> "ui fluid dropdown",
            '_label -> Messages("coin.label.area"),
            '_default -> Messages("coin.select")
        )
        @helper.select(
            field = coinAddForm("task"),
            options = CoinAddForm.taskValues,
            'class -> "ui fluid dropdown",
            '_label -> Messages("coin.label.task"),
            '_default -> Messages("coin.select")
        )
    </div>
    <div class="three fields">
        @helper.select(
            field = coinAddForm("time"),
            options = CoinAddForm.timeValues,
            'class -> "ui fluid dropdown",
            '_label -> Messages("coin.label.time"),
            '_default -> Messages("coin.select")
        )
        @helper.select(
            field = coinAddForm("coin"),
            options = CoinAddForm.coinValues,
            'class -> "ui fluid dropdown",
            '_label -> Messages("coin.label.coin"),
            '_default -> Messages("coin.select")
        )
        @helper.input(coinAddForm("date"), '_label -> Messages("coin.label.date"), 'placeholder -> Messages("coin.select")) { (id, name, value, args) =>
            <div class="ui calendar left icon input" id="datePicker">
                <i class="calendar icon"></i>
                <input type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
            </div>
        }
    </div>
    @helper.inputText(coinAddForm("description"), '_label -> Messages("coin.label.desc"), 'placeholder -> "Klo putzen etc.")

    <button id="submit" type="submit" value="submit" class="ui icon button">
        <i class="plus icon"></i>
        @Messages("coin.submit")
    </button>
}