@import common._
@import forms.common.SemanticForms._
@import forms.CoinAddForm
@import models.coin.WorkEntry

@(user: models.User, workEntries: Seq[WorkEntry], coinAddForm: Form[forms.CoinAddForm.Data])(implicit request: RequestHeader, messages: Messages, lang: play.api.i18n.Lang)


@mainLayout(title = Messages("home.title"), head = Html("""
<script type="text/javascript" src="/assets/lib/semantic-ui-calendar/dist/calendar.min.js"></script>
<link rel="stylesheet" href="/assets/lib/semantic-ui-calendar/dist/calendar.min.css" />
""")) {
    @mainMenu(Option(user))

    <div class="ui container menu-spacer">
        @helper.form(action = routes.CoinController.add(), 'class -> "ui form" ) {
        @helper.CSRF.formField
            <div class="two fields">
                @helper.select(
                    field = coinAddForm("area"),
                    options = CoinAddForm.areaValues,
                    'class -> "ui fluid dropdown",
                    '_label -> Messages("coin.label.area"),
                    '_default -> Messages("coin.select")
                )
                @helper.select(
                    field = coinAddForm("task"),
                    options = CoinAddForm.taskValues,
                    'class -> "ui fluid dropdown",
                    '_label -> Messages("coin.label.task"),
                    '_default -> Messages("coin.select")
                )
            </div>
            <div class="three fields">
                @helper.select(
                    field = coinAddForm("time"),
                    options = CoinAddForm.timeValues,
                    'class -> "ui fluid dropdown",
                    '_label -> Messages("coin.label.time"),
                    '_default -> Messages("coin.select")
                )
                @helper.select(
                    field = coinAddForm("coin"),
                    options = CoinAddForm.coinValues,
                    'class -> "ui fluid dropdown",
                    '_label -> Messages("coin.label.coin"),
                    '_default -> Messages("coin.select")
                )
                @helper.input(coinAddForm("date"), '_label -> Messages("coin.label.date"), 'placeholder -> Messages("coin.select")) { (id, name, value, args) =>
                <div class="ui calendar left icon input" id="datePicker">
                    <i class="calendar icon"></i>
                    <input type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
                </div>
                }
            </div>
            @helper.inputText(coinAddForm("description"), '_label -> Messages("coin.label.desc"), 'placeholder -> "Klo putzen etc.")

            <button id="submit" type="submit" value="submit" class="ui icon button">
                <i class="plus icon"></i>
                @Messages("coin.submit")
            </button>
        }

        @if(workEntries.nonEmpty) {
        <div class="ui section divider"></div>
        <div class="ui three stackable cards">
            @for(workEntry <- workEntries) {
            <div class="card">
                <div class="content">
                    <div class="right floated date">
                        <i class="calendar icon"></i>
                        @workEntry.dateDone.toString("dd.MM.yyyy", lang.toLocale)
                    </div>
                    <div class="header">@workEntry.area</div>
                    <div class="meta">@workEntry.task</div>

                    <div class="description">
                        @workEntry.description
                    </div>
                </div>
                <div class="extra content">
                    <i class="clock icon"></i>
                    @workEntry.prettyTimeSpent
                    <i class="thumbs up icon"></i>
                    @workEntry.coins
                    <div class="right floated coins">
                        <a href="/coin/remove/@workEntry.id"><i class="remove icon"></i></a>
                    </div>
                </div>
            </div>
            }
        </div>
        }
    </div>

    <script>
        $('.ui.dropdown').dropdown();
        $('#datePicker').calendar({
          type: 'date',
          monthFirst: false,
          popupOptions: {
              position: 'bottom center',
              lastResort: 'bottom center',
              prefer: 'opposite',
              hideOnScroll: false
            },
          formatter: {
            date: function (date, settings) {
              if (!date) return '';
              var day = ("0" + date.getDate()).slice(-2);
              var month = ("0" + (date.getMonth() + 1)).slice(-2);
              var year = date.getFullYear();
              return day + '.' + month + '.' + year;
            }
          }
        });
    </script>
}