@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import play.api.data.Form
@import play.twirl.api.Html
@import forms.CoinAddForm
@import models.coin.WorkEntry
@import views.logic.CoinsystemViewLogic

@(user: models.User, logic: CoinsystemViewLogic, coinAddForm: Form[forms.CoinAddForm.Data])(implicit request: RequestHeader, messages: Messages)

@views.html.common.mainLayout(title = Messages("home.title"), head = Html("""
<script type="text/javascript" src="/assets/lib/semantic-ui-calendar/dist/calendar.min.js"></script>
<link rel="stylesheet" href="/assets/lib/semantic-ui-calendar/dist/calendar.min.css" />
""")) {
    @views.html.common.mainMenu(Option(user))

    <div class="ui container menu-spacer">
        @views.html.coin.coinEntryForm(user, coinAddForm, "coin.submit", controllers.routes.CoinController.add())

        @if(logic.workEntries.nonEmpty) {
            <div class="ui small delete modal">
                <div class="ui icon header headline">
                    <i class="remove icon"></i>
                    @Messages("coin.delete.title")
                </div>
                <div class="content">
                    <p>@Messages("coin.delete.message")</p>
                </div>
                <div class="actions">
                    <div class="ui red cancel button">
                        <i class="remove icon"></i>
                        @Messages("coin.delete.no")
                    </div>
                    <a href="" class="coin entry delete">
                        <div class="ui green ok button">
                        <i class="checkmark icon"></i>
                            @Messages("coin.delete.yes")
                        </div>
                    </a>
                </div>
            </div>

            <div class="ui section divider"></div>
            <div class="ui three stackable cards">
                @for(workEntry <- logic.workEntries) {
                <div class="card">
                    <div class="content">
                        <div class="right floated date">
                            <i class="calendar icon"></i>
                            @workEntry.prettyDateDone
                        </div>
                        <div class="header">@workEntry.areaDetail</div>
                        <div class="meta">@workEntry.area</div>

                        <div class="description">
                            @workEntry.description
                        </div>
                    </div>
                    <div class="extra content">
                        <i class="clock icon"></i>
                        @workEntry.prettyTimeSpent
                        <i class="thumbs up icon"></i>
                        @workEntry.coins
                        <div class="right floated coins">
                            <!--<a href="/coin/remove/@workEntry.id"><i class="remove icon"></i></a>-->
                            <a href="/coin/copy/@workEntry.id"><i class="copy icon"></i></a>
                            <a href="/coin/edit/@workEntry.id"><i class="edit icon"></i></a>
                            <i class="remove icon" onclick="showDeletePopup(@workEntry.id)"></i>
                        </div>
                    </div>
                </div>
                }
            </div>


            @if(logic.showPagination) {
                <div class="ui section divider"></div>
                @if(logic.showBackButton) {
                    <a href="/coin/page/@logic.prevPageNumber">
                        <button class="ui left floated button">@Messages("pagination.back")</button>
                    </a>
                }
                @if(logic.showNextButton) {
                    <a href="/coin/page/@logic.nextPageNumber">
                        <button class="ui right floated button">@Messages("pagination.next")</button>
                    </a>
                }
            }

        }
    </div>

    <script>
        function showDeletePopup(workEntryId) {
            $('a.coin.entry.delete').attr("href", "/coin/remove/" + workEntryId)
            $('.ui.delete.modal')
                .modal('setting', 'closable', false)
                .modal('show')
            ;
        }
    </script>
}