@import common._

@(user: models.User)(implicit request: RequestHeader, messages: Messages)

@mainLayout(Messages("home.title")) {
    @mainMenu(Option(user))

    <div class="ui text container" id="menu-spacer">
        <div class="ui three column stackable grid">
            <div class="column">
                <div class="ui card">
                    <div class="padded">
                    <i class="massive inverted green file icon">
                    </i>
                    </div>
                    <div class="content">
                        <a class="header">@Messages("apps.files")</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui card">
                    <div class="padded">
                        <i class="massive inverted green calendar icon">
                        </i>
                    </div>
                    <div class="content">
                        <a class="header">@Messages("apps.calendar")</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui card">
                    <div class="padded">
                        <i class="massive inverted green car icon">
                        </i>
                    </div>
                    <div class="content">
                        <a class="header">@Messages("apps.carsharing")</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}