@import views.html.common._

@(signInForm: Form[forms.NoPasswordForm.Data], uid: String)(implicit request: RequestHeader, messages: Messages)

@import com.mohiva.play.silhouette.impl.providers.oauth2.ClefProvider

@mainLayout(title = Messages("sign.in.title")) {
<div class="ui middle aligned center aligned grid login-page">
    <div class="column login-column">
        <h2 class="ui center aligned header">
            <img src='@routes.Assets.at("images/wvg_logo_quad.png")' class="ui tiny image">
            <div class="content">
                @Messages("sign.in.no.password")
            </div>
        </h2>
        @helper.form(action = routes.LdapController.nopassword, 'class -> "ui large form" ) {
        @helper.CSRF.formField
        <div class="ui segment">
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="password-new" placeholder='@Messages("password.new")'>
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="password-confirm" placeholder='@Messages("password.new.repeat")'>
                </div>
            </div>
            <input type="hidden" name="uid" value='@uid'>
            <button id="submit" type="submit" value="submit" class="ui fluid large green submit button">@Messages("confirm")</button>
        </div>
        }

        @request.flash.get("error").map { msg =>
        <div class="ui icon error message">
            <i class="warning sign icon"></i>
            <div class="content">
                <div class="header">
                    @Messages("error")
                </div>
                <p> @msg</p>
            </div>
        </div>
        }
    </div>
</div>
}