@import views.html.common._

@(user: models.User, passwordForm: Form[forms.PasswordForm.Data])(implicit request: RequestHeader, messages: Messages)

@mainLayout(Messages("home.title")) {
    @mainMenu(Option(user))

    <div class="ui text menu-spacer container">
        <div class="ui grid">
            <div class="six wide column">
                @sideMenu()
            </div>
            <div class="ten wide column">
                <h2 class="ui header">@Messages("password.title")</h2>
                @helper.form(action = routes.LdapController.password(), 'class -> "ui form" ) {
                @helper.CSRF.formField
                <form class="ui form">
                    <div class="field">
                        <label>@Messages("password.old")</label>
                        <input type="password" name="password-old">
                    </div>
                    <div class="field">
                        <label>@Messages("password.new")</label>
                        <input type="password" name="password-new">
                    </div>
                    <div class="field">
                        <label>@Messages("password.new.repeat")</label>
                        <input type="password" name="password-confirm">
                    </div>
                    <button class="ui button" type="submit">@Messages("password.save")</button>
                </form>
                }
                @request.flash.get("error").map { msg =>
                <div class="ui icon error message">
                    <i class="warning sign icon"></i>
                    <div class="content">
                        <div class="header">
                            @Messages("error")
                        </div>
                        <p> @msg</p>
                    </div>
                </div>
                }
                @request.flash.get("success").map { msg =>
                <div class="ui icon success message">
                    <i class="checkmark icon"></i>
                    <div class="content">
                        <div class="header">
                            @Messages("success")
                        </div>
                        <p> @msg</p>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
}
