@import common._

@(user: models.User)(implicit request: RequestHeader, messages: Messages)

@mainLayout(Messages("home.title")) {
    @mainMenu(Option(user))

    <div class="ui text container" id="menu-spacer">
        <div class="ui grid">
            <div class="six wide column">
                @sideMenu()(request, messages)
            </div>
            <div class="ten wide column">
                <h2 class="ui header">@Messages("profile.title")</h2>
                <table class="ui definition table" id="profile-table">
                    <tbody>
                    <tr>
                        <td class="four wide column">@Messages("first.name"):</td>
                        <td class="right aligned">@user.firstName.getOrElse("None")</td>
                    </tr>
                    <tr>
                        <td>@Messages("last.name"):</td>
                        <td class="right aligned">@user.lastName.getOrElse("None")</td>
                    </tr>
                    <tr>
                        <td>@Messages("full.name"):</td>
                        <td class="right aligned">@user.fullName.getOrElse("None")</td>
                    </tr>
                    <tr>
                        <td>@Messages("email"):</td>
                        <td class="right aligned">@user.email.getOrElse("None")</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}