@import common._

@(user: models.User)(implicit request: RequestHeader, messages: Messages)

@mainLayout(Messages("home.title")) {
    @mainMenu(Option(user))

    <div class="ui text menu-spacer container">
        <div class="ui stackable grid">
            <div class="six wide column">
                @sideMenu()(request, messages)
            </div>
            <div class="ten wide column">
                <h2 class="ui header">@Messages("profile.title")</h2>
                <table class="ui very basic table" id="profile-table">
                    <tbody>
                    <tr>
                        <td>@Messages("full.name")</td>
                        <td class="right aligned">@user.fullName.getOrElse("")</td>
                    </tr>
                    <tr>
                        <td>@Messages("email")</td>
                        <td class="right aligned">@user.email.getOrElse("")</td>
                    </tr>
                    <tr>
                        <td>@Messages("phone")</td>
                        <td class="right aligned">@user.phone.getOrElse("")</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}