@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader

@import play.api.data.Form
@import views.html.common._

@(signInForm: Form[forms.SignInForm.Data], uid: String = "")(implicit request: RequestHeader, messages: Messages)

@mainLayout(title = Messages("sign.in.title")) {
<div class="ui middle aligned center aligned grid login-page">
    <div class="column login-column">
        <h2 class="ui center aligned header">
            <img src='@controllers.routes.Assets.at("images/wvg_logo_quad.png")' class="ui tiny image">
            <div class="content">
                @Messages("sign.in.credentials")
            </div>
        </h2>
        @helper.form(action = controllers.routes.CredentialsAuthController.authenticate(), 'class -> "ui large form" ) {
        @helper.CSRF.formField
        <div class="ui segment">
            <div class="field">
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text" name="username" value="@uid" placeholder='@Messages("username")'>
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="password" placeholder='@Messages("password")'>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="rememberMe" value="true">
                    <label>@Messages("remember.me")</label>
                </div>
            </div>
            <button id="submit" type="submit" value="submit" class="ui fluid large green submit button">@Messages("sign.in")</button>
        </div>
        }

        @request.flash.get("error").map { msg =>
        <div class="ui icon error message">
            <i class="warning sign icon"></i>
            <div class="content">
                <div class="header">
                    @Messages("error")
                </div>
                <p> @msg</p>
            </div>
        </div>
        }
        @request.flash.get("success").map { msg =>
        <div class="ui icon success message">
            <i class="checkmark icon"></i>
            <div class="content">
                <div class="header">
                    @Messages("success")
                </div>
                <p> @msg</p>
            </div>
        </div>
        }
    </div>
</div>
}