@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import models.config.Links

@(user: Option[models.User] = None)(implicit request: RequestHeader, messages: Messages)

@activeLink(currentPath:String) = @{
    if(request.path.equals(currentPath)) "active"
}

<script>
  $(document)
    .ready(function() {

      // create sidebar and attach to menu open
      $('.ui.sidebar')
        .sidebar('attach events', '.toc.item')
      ;

    })
  ;
</script>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
    <a class='@activeLink("/") item' href="/"><i class="home icon"></i>@Messages("menu.home")</a>
    <a class='@activeLink("/files") item' href="/files"><i class="file icon"></i>@Messages("apps.files")</a>
    <a class='@activeLink("/calendar") item' href="/calendar"><i class="calendar icon"></i>@Messages("apps.calendar")</a>
    <a class='@activeLink("/directory") item' href="/directory"><i class="users icon"></i>@Messages("apps.directory")</a>
    <a class='@activeLink("/forum") item' href="@Links.forum.url" target="@Links.forum.target"><i class="book icon"></i>@Messages("apps.forum")</a>
    <a class='@activeLink("/coin") item' href="/coin"><i class="thumbs up icon"></i>@Messages("apps.coin")</a>
    <a class='@activeLink("/kanban") item' href="/kanban"><i class="columns icon"></i>@Messages("apps.kanban")</a>
    <!--<a class='@activeLink("/chat") item' href="/chat"><i class="chat icon"></i>@Messages("apps.chat")</a>-->
    <a class='@activeLink("/carsharing") item' href="/carsharing"><i class="car icon"></i>@Messages("apps.carsharing")</a>
</div>

<div class="ui container menu-spacer">
    <div class="ui large top fixed secondary green pointing menu">
        <a class="toc item">
            <i class="sidebar icon"></i>
        </a>

        <a class='@activeLink("/") item' href="/"><i class="home icon"></i>@Messages("menu.home")</a>
        <a class='@activeLink("/files") item' href="/files"><i class="file icon"></i>@Messages("apps.files")</a>
        <a class='@activeLink("/calendar") item' href="/calendar"><i class="calendar icon"></i>@Messages("apps.calendar")</a>
        <a class='@activeLink("/directory") item' href="/directory"><i class="users icon"></i>@Messages("apps.directory")</a>
        <a class='@activeLink("/forum") item' href="@Links.forum.url" target="@Links.forum.target"><i class="book icon"></i>@Messages("apps.forum")</a>

        <div class="ui top left pointing dropdown main-menu item">
            <i class="caret down icon"></i>@Messages("menu.more")
            <div class="menu">
                <a class='@activeLink("/coin") item' href="/coin"><i class="thumbs up icon"></i>@Messages("apps.coin")</a>
                <a class='@activeLink("/kanban") item' href="/kanban"><i class="columns icon"></i>@Messages("apps.kanban")</a>
                <!--<a class='@activeLink("/chat") item' href="/chat"><i class="chat icon"></i>@Messages("apps.chat")</a>-->
                <a class='@activeLink("/carsharing") item' href="/carsharing"><i class="car icon"></i>@Messages("apps.carsharing")</a>
            </div>
        </div>

            @user.map { u =>
            <div class="ui top pointing dropdown main-menu right item">
                <i class="caret down icon"></i>@u.fullName
                <div class="menu">
                    <a class="item" href="@controllers.routes.ApplicationController.profile"><i class="user icon"></i>@Messages("profile.title")</a>
                    <a class="item" href="@controllers.routes.ApplicationController.signOut"><i class="sign out icon"></i>@Messages("sign.out")</a>
                </div>
            </div>
            }
    </div>
</div>


<script>
$('.ui.dropdown')
 .dropdown()
;
</script>